In [1]:
import pandas as pd

In [145]:
file_path = r'GSE155237_gene_counts.csv'

df = pd.read_csv(file3_path)

In [146]:
df.shape

(60448, 79)

In [147]:
df.head()

,Unnamed: 0,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
0,ENSG00000223972,2,8,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000227232,68,201,91,52,54,31,32,38,68,...,43,64,51,22,118,147,185,173,108,147
2,ENSG00000278267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000243485,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,2,0,1
4,ENSG00000274890,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
input_file_path = 'GSE155237_family.txt'
output_file_path = 'output.txt'

with open(input_file_path, 'r') as input_file, open(output_file_path, 'w') as output_file:
    line_counter = 0

    for line in input_file:
        if line.startswith('!Sample_title =') or line.startswith('!Sample_characteristics_ch1 = outcome:'):
            output_file.write(line)
            line_counter += 1

In [149]:
output_file_path = 'output.txt'
with open(output_file_path, 'r') as output_file:
    lines = output_file.readlines()

data = {}
for i in range(0, len(lines), 2):
    title = lines[i].split()[-1].strip(':')
    if i + 1 < len(lines):
        value = lines[i+1].split()[-1].strip()
        value = 1 if value == 'Infected' else 0
        data[title] = value
    else:
        data[title] = None

df2 = pd.DataFrame(list(data.items()), columns=['Column_Title', 'Value'])
df2 = df2.T.reset_index(drop=True)

In [150]:
df2

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,US-1630615,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
1,1,1,1,0,0,1,0,0,0,0,...,0,1,0,1,1,0,1,1,1,1

In [151]:
df2.insert(0, "Unnamed: 0", pd.Series(dtype=float))

In [99]:
df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,68,69,70,71,72,73,74,75,76,77
0,NaN,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
1,NaN,1,1,1,0,0,1,0,0,0,...,0,1,0,1,1,0,1,1,1,1

In [152]:
df2.shape

(2, 79)

In [153]:
df1 =df
df1

,Unnamed: 0,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
0,ENSG00000223972,2,8,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000227232,68,201,91,52,54,31,32,38,68,...,43,64,51,22,118,147,185,173,108,147
2,ENSG00000278267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000243485,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,2,0,1
4,ENSG00000274890,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60443,ENSG00000198695,53,58,50,38,63,67,34,83,49,...,30,111,58,27,58,72,135,85,141,75
60444,ENSG00000210194,1,0,2,0,0,0,0,2,0,...,0,0,0,0,1,0,0,0,0,0
60445,ENSG00000198727,9630,7752,8829,7164,8796,7463,9302,12814,9365,...,10303,4437,11422,6075,11854,8408,14911,16964,15982,10500
60446,ENSG00000210195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60447,ENSG00000210196,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [154]:
df1.loc[df1.shape[0]] = df2.iloc[1].values
df1

,Unnamed: 0,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
0,ENSG00000223972,2,8,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000227232,68,201,91,52,54,31,32,38,68,...,43,64,51,22,118,147,185,173,108,147
2,ENSG00000278267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000243485,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,2,0,1
4,ENSG00000274890,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60444,ENSG00000210194,1,0,2,0,0,0,0,2,0,...,0,0,0,0,1,0,0,0,0,0
60445,ENSG00000198727,9630,7752,8829,7164,8796,7463,9302,12814,9365,...,10303,4437,11422,6075,11854,8408,14911,16964,15982,10500
60446,ENSG00000210195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60447,ENSG00000210196,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60448,NaN,1,1,1,0,0,1,0,0,0,...,0,1,0,1,1,0,1,1,1,1

In [155]:
df1.iloc[-1, 0] = "Outcome"
df1

,Unnamed: 0,US-1630601,US-1630602,US-1630603,US-1630605,US-1630606,US-1630608,US-1630609,US-1630610,US-1630612,...,US-1635435,US-1635439,US-1635445,US-1635462,US-1635489,US-1596576,US-1596606,US-1596618,US-1596620,US-1596636
0,ENSG00000223972,2,8,0,0,3,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000227232,68,201,91,52,54,31,32,38,68,...,43,64,51,22,118,147,185,173,108,147
2,ENSG00000278267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000243485,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,2,0,1
4,ENSG00000274890,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60444,ENSG00000210194,1,0,2,0,0,0,0,2,0,...,0,0,0,0,1,0,0,0,0,0
60445,ENSG00000198727,9630,7752,8829,7164,8796,7463,9302,12814,9365,...,10303,4437,11422,6075,11854,8408,14911,16964,15982,10500
60446,ENSG00000210195,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60447,ENSG00000210196,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60448,Outcome,1,1,1,0,0,1,0,0,0,...,0,1,0,1,1,0,1,1,1,1

In [194]:
df = df1.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,60439,60440,60441,60442,60443,60444,60445,60446,60447,60448
Unnamed: 0,ENSG00000223972,ENSG00000227232,ENSG00000278267,ENSG00000243485,ENSG00000274890,ENSG00000237613,ENSG00000268020,ENSG00000240361,ENSG00000186092,ENSG00000238009,...,ENSG00000210176,ENSG00000210184,ENSG00000210191,ENSG00000198786,ENSG00000198695,ENSG00000210194,ENSG00000198727,ENSG00000210195,ENSG00000210196,Outcome
US-1630601,2,68,0,1,0,0,0,0,0,29,...,0,0,0,5429,53,1,9630,0,0,1
US-1630602,8,201,0,0,0,0,0,0,0,25,...,0,0,0,5164,58,0,7752,0,0,1
US-1630603,0,91,0,0,0,0,0,0,0,8,...,0,0,0,5417,50,2,8829,0,0,1
US-1630605,0,52,0,1,0,0,0,0,0,20,...,0,0,0,6165,38,0,7164,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-1596576,0,147,0,0,0,0,0,0,0,0,...,0,0,0,5374,72,0,8408,0,0,0
US-1596606,0,185,0,0,0,0,0,0,0,0,...,0,0,0,14801,135,0,14911,0,0,1
US-1596618,0,173,0,2,0,0,0,0,0,25,...,0,0,0,17200,85,0,16964,0,0,1
US-1596620,0,108,0,0,0,0,0,0,0,35,...,0,0,0,28756,141,0,15982,0,0,1
US-1596636,0,147,0,1,0,0,0,0,0,44,...,0,0,0,7238,75,0,10500,0,0,1

In [166]:
last_column = df.columns[-1]

df_infected = df[df[last_column] == 1]
df_uninfected = df[df[last_column] == 0]

In [231]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report


X = df.iloc[:, :-1]  # Features (all columns except the last one)
y = df.iloc[:, -1] 

X_encoded = pd.get_dummies(X, drop_first=True)

y = pd.to_numeric(y, errors='coerce').astype('Int64')

y = y.fillna(0).astype(int)

df_combined = pd.concat([X_encoded, y], axis=1)

train_data, test_data = train_test_split(df_combined, test_size=0.2, random_state=42)

X_train = train_data.iloc[:, :-1]
y_train = train_data.iloc[:, -1].astype(int)

X_test = test_data.iloc[:, :-1]
y_test = test_data.iloc[:, -1].astype(int)

model = LogisticRegression(random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print the evaluation metrics
print(f"Accuracy: {accuracy:.2f}")
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(classification_rep)

Accuracy: 0.25

Confusion Matrix:
[[ 0 12]
 [ 0  4]]

Classification Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        12
           1       0.25      1.00      0.40         4

    accuracy                           0.25        16
   macro avg       0.12      0.50      0.20        16
weighted avg       0.06      0.25      0.10        16

/home/maria/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/maria/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/maria/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))